<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API Secret</key>
	<string>cfwAVD4TTCUWefwqP0IhEzvgMj8CcKZ5igLXLGXCI5ZGYFp5Gi</string>
	<key>API Key</key>
	<string>yADcIgShJ9in9ibOE6cuIfrz5</string>
</dict>
</plist>
